extends layouts/login-layout.pug

block content
    .loginContainer 
        h1 Login 
        form(action="/auth/login" method="post")

            if errorMessage
                .alert.alert-danger.custom-alert(role="alert")
                    | #{errorMessage}

            if successMessage
                .alert.alert-success.custom-alert(role="alert")
                    | #{successMessage}

            input(type="email", name="Email", placeholder="Email", value=Email, required="")
            input(type="password", name="Password", placeholder="Password", required="")
            input(type="submit", value="Login")
        a(href="/auth/register") Need an account? Register here. 

        .info
            p Log in with one of the following accounts:
            .account-list
                .account-item
                    button(type="button" onclick="autoLogin('cristiano@gmail.com', 'Password1@')") Login as Account 01
                .account-item
                    button(type="button" onclick="autoLogin('lionel@gmail.com', 'Password1@')") Login as Account 02

    script.
        const form = document.getElementById("registerForm")

        if (document.querySelector('.alert-success')) {
            setTimeout(() => {
                window.location.href = '/';
            }, 100); 
        }

        function autoLogin(email, password) {
            document.querySelector('input[name="Email"]').value = email;
            document.querySelector('input[name="Password"]').value = password;
            document.querySelector('form').submit();
        }
            