extends layouts/login-layout.pug

block content
    .loginContainer 
        h1 Login 
        form(action="/auth/login" method="post")

            if errorMessage
                .alert.alert-danger.custom-alert(role="alert")
                    | #{errorMessage}

            if successMessage
                .alert.alert-success.custom-alert(role="alert")
                    | #{successMessage}

            input(type="email", name="Email", placeholder="Email", value=Email, required="")
            input(type="password", name="Password", placeholder="Password", required="")
            input(type="submit", value="Login")
        a(href="/auth/register") Need an account? Register here. 

    script.
        const form = document.getElementById("registerForm")

        if (document.querySelector('.alert-success')) {
            setTimeout(() => {
                window.location.href = '/';
            }, 1500); 
        }
            